<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Extention.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ShareExtention.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F83250091D4C6E9A00A35F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F83250221D4C6E9A00A35F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F832502D1D4C6E9A00A35F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F83250431D4C6F3500A35F75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
